<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/JavaScriptFile.js"></script>
</head>
<body ng-app="myModule">
                
<!-- EVENTS IN ANGULAR -->   

<h1>HANDLING EVENTS WITH ANGULAR : {{ 10 + 10 }}</h1>
<div ng-controller="myController">
    <!--<table>
        <thead>
        <tr>
            <th>Technology</th>
            <th>Likes</th>
            <th>Dislikes</th>
            <th>Likes/Dislikes</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="technology in technologies">
            <td>{{ technology.name }}</td>
            <td>{{ technology.likes }}</td>
            <td>{{ technology.dislikes }}</td>
            <td>
                <input type="button" value="Likes" ng-click="incrementLikes(technology)"/>
                <input type="button" value="DisLikes" ng-click="incrementDislikes(technology)"/>
            </td>
        </tr>
        </tbody>
    </table>-->
    
    
<!-- *********************   FILTERING IN ANGULAR ************************************-->
    <h1>HANDLING FORMATTING : {{ 10 + 10 }}</h1>
    <br/>
        Rows to display: <input type="number" step="1" min="0" max="5" ng-model="rowLimit"/>
    <br/><br />
    
    <br/>
    Sort By: <select ng-model="sortColumn">
        <option value="name">name</option>
        <option value="-salary">Salary</option>
        <option value="dateOfBirth">Date Of Birth</option>
    </select>
    <br/><br />

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Date Of Birth</th>
            <th>Gender</th>
            <th>Salary (number)</th>
            <th>Salary (Currency)</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="employee in employees | limitTo: rowLimit | orderBy: sortColumn">
            <td>{{ employee.name  | uppercase}}</td>
            <td>{{ employee.dateOfBirth | date:"dd/mm/yyyy"}}</td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.salary | number: 2}}</td> <!-- formatting to 2 decimal places-->
            <td>{{ employee.salary | currency : "R " }}</td>
            <!--<td>
                <input type="button" value="Likes" ng-click="incrementLikes(technology)"/>
                <input type="button" value="DisLikes" ng-click="incrementDislikes(technology)"/>
            </td>-->
        </tr>
        </tbody>
    </table>
    
    

</div>
    <script src="Scripts/angular.min.js"></script>               
    <script src="Scripts/Scripts.js"></script>
</body>

</html>