<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/Scripts.js"></script>
</head>
<body ng-app="myModule">
                
               <!-- Nesting NG-DIRECTIVE -->
<div ng-controller="myController">
    <ul>
        <li ng-repeat=" country in countries">
            {{country.name}} - index = {{$index}}

            <ul>
                <li ng-repeat="city in country.cities">
                    {{city.name}} - Parent-Index = {{$parent.$index}}, index = {{$index}}
                </li>
            </ul>
        </li>
    </ul>
</div>
                   
           
</body>

</html>